@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    height: 100px;
    margin: auto;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar h1{
    text-align: center;
    color: #ff4500;
    cursor: pointer;
}

.banner button{
    font-size: 20px;
    padding: 20px 100px;
    background: #ff4500;
    border-radius: 25px;
    position: auto;
    top: 350px;
    left: 830px;
    font-weight: bold;
    border: 2px solid #000000;
    background: transparent;
    cursor: pointer;
    color: #ffffff;
    position: auto;
    transition: 0.6s ease;
}

.banner button:hover{
    background-color: #000000;
    color: #ff4500;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff4500;
    position: absolute;
    display: block;
    left: 0;
    top: -10;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    background: #000000;
    z-index: 999;
    display: none;
    padding: 10px 50px;
}

ul li:hover ul.dropdown{
    display: block;
}
