*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.navbar{
    width: 85%;
    height: 110px;
    margin: auto;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.navbar h1{
    text-align: center;
    color: #ff4500;
    cursor: pointer;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ff4500;
    position: absolute;
    display: block;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.container{
    text-align: center;
    background: #000000;

}

.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover{
    background: rgba(65, 40, 11, 0.7);
    border-radius: 12px;
}

.teams img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.section{
    font-style: italic;
    color: #ff4500;
}

.about{
    margin: 20px 0;
    font-weight: lighter;
    color: #ffffff;
    text-align: left;
}

.about h1{
    text-align: center;
    color: #ff4500;
}

.about .heading{
    font-weight: bold;
}

.social-links{
    margin: 14px;
}

.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: ease 0.5s;
}

.social-links a:hover{
    transform: translateY(10px);
}

.social-links a .fa{
    line-height: 30px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social-links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90;
    left: 0;
    background: #000000;
    position: absolute;
    transition: 0.5s;
}

.social-links a:hover::after{
    top: 0;
}

.social-links a:hover .fa{
    color: #ff4500;
}


.social-links a i{
    color: beige;
}
.social-links h3{
    font-weight: bold;
    color: #ff4500;
}

.social-links li{
    transition: .4s;
    color: #ff4500;
    text-align: left;
}

@media screen and (max-width: 600px){
    .teams{
        max-width: 100%;
    }
}